.pickerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    border: 0.5px solid var(--gray-text);
    cursor: pointer;
    background-color: #fff;
    width: 100% !important;
    color: var(--gray-text);
    white-space: nowrap; /* Evita que el texto se envuelva */
    overflow: hidden; /* Oculta el desbordamiento */
    text-overflow: ellipsis;
}

.input p {
    text-transform: capitalize;
}

.disabled {
    cursor: not-allowed;
}

.icon{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datePicker {
    box-sizing: border-box;
    width: 100%;
}

.customCalendar {
    font-family: inherit !important;
}

.customCalendar .react-datepicker__header {
    background-color: white;
    border-bottom: none;
    padding-bottom: 2px;
}