:root {
  --blue-primary: #3366CC;
  --black-primary: #1F1F1F;
  --gray-line: #CECECE;
  --orange-primary: #E8A045;
  --orange-secondary: #E69E43;
  --orange-tertiary: #DC9538;
  --white-primary: #FCFDFE;
  --blue-secondary: #36C;
  --gray-text: #777;
  --gray-text-secondary: #434343;
  --gray-text-tertiary: #BBB;
  --gray-background: #BBBBBB;
  --gray-hover: #F0F0F0;
  --gray-active: #E8E8E8;
  --yelow-primary: #FBF6BC;
  --red-primary: #FF9D9D;
  --green-primary: #9EE4A9;
  --blue-soft: #b6cdfc;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import 'azure-maps-control/dist/atlas.min.css';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: hidden;
  font-family: 'Nunito Sans', sans-serif;
}

button {
  font-family: inherit;
}

.buttonPrimary {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: var(--orange-primary);
  border: none;
  color: var(--white-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.buttonPrimary:hover {
  background: var(--orange-secondary);
}

.buttonPrimary:active {
  background: var(--orange-tertiary);
}

.custom-calendar {
  font-family: inherit !important;
  /* border: 0.5px solid var(--gray-text) !important; */
  border: none !important;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25) !important;
}

.custom-calendar .react-datepicker__header {
  background-color: var(--gray-hover);
  /* border-bottom: none;
  padding-bottom: 2px; */
}

.custom-calendar .react-datepicker__navigation {
  color: var(--gray-text-tertiary);
}

/* .custom-calendar .react-datepicker__day:hover {
  background-color: var(--orange-primary) !important;
  color: var(--white-primary);
} */

.custom-calendar .react-datepicker__day {
  color: var(--gray-text) !important;
  font-weight: 500 !important;
}

.custom-calendar .react-datepicker__day--disabled {
  color: rgb(187, 187, 187,0.5) !important;
}

.custom-calendar .react-datepicker__day--selected {
  background-color: var(--orange-primary);
  color: #FFF !important;
}

.custom-calendar .react-datepicker__day--selected:hover {
  background-color: var(--orange-secondary) !important;
  color: #FFF !important;
}

.custom-calendar .react-datepicker__day--keyboard-selected {
  background-color: var(--orange-primary);
  color: #FFF !important;
}

.custom-calendar .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li {
  color: var(--gray-text) !important;
  font-weight: 500 !important;
}

.custom-calendar .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: var(--orange-primary) !important;
  color: #FFF !important;
}

.custom-calendar .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
  background-color: var(--orange-secondary) !important;
  color: #FFF !important;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
}