.searchContainer {
    color: var(--gray-text-tertiary);
    width: 100%;
    background-color: var(--gray-hover);
    border-radius: 3px;
    display: flex;
    padding: 12px 24px;
    align-items: center;
    gap: 8px;
    cursor: text;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchContainer input {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    border: none;
    outline: none; /* Elimina el contorno al enfocarse */
    box-shadow: none;
    width: 100%;
    /* color: var(--black-primary); */
}

.searchContainer input::placeholder {
    font-size: 14px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: normal;
}

.close {
    cursor: pointer;
}