.mainContainer {
    height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-areas:
        "menu main";
}

.menu {
    grid-area: menu;
    height: 100vh;
    min-height: 100dvh;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    padding: 16px 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 36px;
    width: 100%;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 100%;
    overflow-y: auto;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    padding: 0 0 0 12px;
    border-left: 1px solid var(--gray-text-secondary);
}

.title h1{
    color: var(--gray-text-secondary);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.infoContainer {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    margin-top: 8px;
    padding: 24px 24px 8px 24px;
    box-sizing: border-box;
    border-top: 1px solid var(--gray-line);
}

.userContainer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
    overflow: hidden; 
    box-sizing: border-box; 
}

.circle {
    width: 32px !important;
    min-width: 32px !important;
    height: 32px;
    border-radius: 50%;
    background: var(--orange-primary);
    display: flex;
    color: var(--white-primary);
    justify-content: center;
    align-items: center;
}

.userInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding: 0px 8px;
    overflow: hidden; 
    box-sizing: border-box; 
}
.userInfo p:first-of-type {
    color: var(--gray-text-secondary);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap; /* Evita que el texto se envuelva */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis;
}

.userInfo p:last-of-type {
    color: var(--gray-text-tertiary);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap; /* Evita que el texto se envuelva */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.outButton {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.icon {
    color: var(--gray-text-secondary);
    cursor: pointer;
}

.main {
    grid-area: main;
    height: 100vh;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    min-width: 0;
    padding: 16px;
    position: relative;
}

.buttonDisabled {
    background-color: transparent;
}

.buttonDisabled:hover {
    background-color: transparent!important;
}

.mainButton {
    padding: 12px 48px !important;
}

.blockMenu {
    gap: 4px;
}

.blockTitle {
    color: var(--gray-text-tertiary);
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 24px;
}

.selectedButton {
    background-color: var(--gray-active) !important;
}

@media (max-width: 768px) {
    .mainContainer {
        grid-template-columns: 1fr;
        grid-template-areas:
            "main";
    }

    .menu {
        display: none;
    }

    .main {
        height: 100vh;
    }
    
}