.mainContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 100%;
  padding: 12px 24px;
  border: none;
  background-color: transparent;
  border-radius: 0px;
}

.iconContainer svg {
  color: var(--gray-text-secondary)!important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer p{
    color: var(--gray-text-secondary)!important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainContainer:hover {
  background-color: var(--gray-hover);
}

.mainContainer:active {
  background-color: var(--gray-active);
}