.mainContainer {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.firstColumn {
    position: sticky;
    left: -0.5px;
    background-color: var(--gray-hover);
    z-index: 1;
    text-align: left !important;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: right;
    font-size: 12px;
    text-transform: capitalize;
}

.table th {
    background-color: #f2f2f2;
}