.listContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: auto;
    box-sizing: border-box;
    margin-top: 12px;
    min-height: 99%;
}

.selectContainer {
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled {
    pointer-events: none; /* Desactiva todos los eventos de puntero */
}